<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{{ self.title() }}</h1>
        <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sleep">Sleep</a></li>
        <li><a href="/running">Running</a></li>
        <li><a href="/combined">Composite</a></li>
        </ul>
        </nav>
        <!-- <div class="container">
            <h3>Update Data</h3>
            <ul>
                <li><a href="/updatesleep">Update Sleep</a></li>
                <li><a href="/updaterunning">Update Running</a></li>
            </ul>
        </div> -->
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>